* {
    margin: 0;
    padding: 0;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.site-header.fixed {
    position: fixed;
}

nav {
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
    z-index: 1000;
    width: 90%;
}

nav img {
    width: 100px;
}

.nav-linkovi ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-linkovi ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  

}

.nav-linkovi ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-linkovi ul li:hover::after {
    width: 100%;

}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}

.informacije {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}


p {
    color: #3b3b3b;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.red {
    margin-top: 5%; display: flex;
  justify-content: space-between;
  }
  
  .infokol{
    flex-basis: 31%;
  background: rgba(159, 162, 144, 0.7);
  border-radius: 10px;
  margin-bottom: 5%; padding: 20px 12px;
  box-sizing: border-box;
  
  }

  h3{
    text-align: center;
     font-weight: 300; 
     margin: 10px 0;
   
  }
  .h31{
    text-align: center;
     font-weight: 600; 
     margin: 10px 0;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 25px;
     text-decoration: underline;
  }
  
  .infokol:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
  }

  .igrice{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    min-height: 40vh;
    }
    
    .igricekol {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    
    }

    .igricekol img{
    width: 100%;
    height: 100%;
    
    }
    .layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    }
    
    .layer:hover{
    
    background: rgba(159, 162, 144, 0.7);
    }
    .layer h3{
    width: 100%; 
    font-weight: 500;
    color: black;
    font-weight: bold;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity:0;
    transition: 0.5s;
    }
    .layer:hover h3{
      bottom: 49%;
      opacity: 1;
    } 
.contact-container{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* FORMA */

#contact-form {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact-form .form-group {
    margin-bottom: 20px;
}

#contact-form label {
    display: block;
    margin-bottom: 8px;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#contact-form button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #45a049;
}


/* DRUGAAAAAAA STRANICAAAAAAAAAAAAA*/

footer {
    text-align: center;
    padding: 20px;
    background-color: #959595;
    color: rgb(222, 226, 216);
}

footer a {
    color: #4CAF50;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

#p2 {
    color: rgb(79, 82, 75);
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(turnir.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff; 

}

.turnir{
    width: 80%;
    margin: auto;
    padding-top: 10x;
    padding-bottom: 20px;
}

.oturniru{
    flex-basis: 48%;
    padding: 30px 2px;
}

.oturniru img{
    width: 100%;
    margin-bottom: 10px;
   
}

.oturniru h1{
    padding-top: 0;
    text-decoration: solid;
    
}  

.oturniru p{
    flex-grow: 1;
    padding: 15px 0 25px;
    font-size: medium;
}


.red12 {
    margin-top: 1%;
    display: flex;
  justify-content: space-between;
  }




  /* KONAKT STRANICA */


  .kontakt-content{
    width: 80%;
    margin: auto;
  }

  .kontakt-left{
    flex-basis: 65%;
  }

  .kontakt-left img{
    width: 100%;
  }

  .kontakt-left h2{
    color: #222;
    font-weight: bold;
    font-size: 50px;
    margin: 30px 0;
    font-family: serif;
  }

  .kontakt-left p{
    color: #999;
    padding: 0;
    font-family: serif;
    font-size: 20px;
  }

  .kontakt-right {
    flex-basis: 25%;

  }

  .kontakt-right h3{
    background: #45a049;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;    
  }

  .kontakt-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
    
  }

.komentar{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;

}

.komentar h3{
    text-align: left;
}

.komentar-forma input, .komentar-forma textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #efeeee;

}

.komentar button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.komentar button:hover {
    background-color: #555;
    color: white;
}

.sub-header1{
    height: 63vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(kontaktiraj.avif);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff; 

}

form {
    max-width: 400px;
    margin: 0;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#map-container {
    width: 100%;
    height: 60vh;
    margin: 20px 0;
    box-sizing: border-box;
}

.form-container {
    border: 1px solid #5b3535;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}


.kontaktt-section {
    background-color: #f8f8f8; 
    padding: 20px;
  }
  
  .kontaktt-container {
    max-width: 55%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
  }
  

  /* GALERIJA */

  .sub-header2{
    height: 65vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(galerija.webp);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff; 

}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.image {
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 450px; 
    height: 350px; 
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}

.image:hover {
    transform: scale(1.1);
}
.hero-text1 {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* galerija nastavak */
.your-list-section {
    text-align: left; 
    margin: 20px 0;
}

.list-header {
    margin-bottom: 10px; 
}

.your-list-section h2 {
    color: #333; 
    font-size: 24px; 
}

.your-list-section p {
    color: #666; 
}

.your-list-section ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    border: 1px solid #ddd; 
    background-color: #f9f9f9; 
    padding: 10px;
}

.your-list-section li {
    margin-bottom: 8px; 
}


.your-list-section li:hover {
    background-color: #ddd; 
}


#timer-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#timer {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}


/* dodatak za turnir */

.proizvoljne-slike {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
}

.red-slika {
    margin-top: 20px;
}

.slika-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.slika-container img {
    width: 450px; 
    height: 350px; 
    height: auto;
    border-radius: 8px;
}


